.description_product {
    width: 292px;
    display: inline-block;
}

.description_product h2 {
    color: #2d2d2d;
    font: 400 24px / 28.003px Arial;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #f3f2f0;
    box-shadow: 0 1px 0px 0px #fff;
}

.description_product ul#decript {
    padding-bottom: 10px;
    border-bottom: 1px solid #f3f2f0;
    box-shadow: 0 1px 0px 0px #fff;
}

.description_product ul#decript li span {
    color: #4f4f4f;
    font: 400 14px / 20.003px Arial;
}

.description_product .buy {
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 10px 16px 10px;
    background: -webkit-linear-gradient(90deg, #ea7a2f 0%, #ff993e 100%);
    background: -moz-linear-gradient(90deg, #ea7a2f 0%, #ff993e 100%);
    background: -o-linear-gradient(90deg, #ea7a2f 0%, #ff993e 100%);
    background: -ms-linear-gradient(90deg, #ea7a2f 0%, #ff993e 100%);
    background: linear-gradient(0deg, #ea7a2f 0%, #ff993e 100%);
    border: 1px solid #fc9e09;
    box-shadow: 0 0 6px #fc9e09, 0 -1px 0 0px #ffc95b;
}

.description_product .buy span {
    color: #ffffff;
    font: 700 30px / 20.003px Arial;
    margin-left: 10px;
    margin-right: 10px;
}

.description_product .buy a {
    color: #6e6e6e;
    font: 700 24px / 20.003px Arial;
    text-decoration: none;
    padding: 0px 10px 5px 10px;
    background: -webkit-linear-gradient(90deg, #c9c9c9 0%, #f4f4f4 100%);
    background: -moz-linear-gradient(90deg, #c9c9c9 0%, #f4f4f4 100%);
    background: -o-linear-gradient(90deg, #c9c9c9 0%, #f4f4f4 100%);
    background: -ms-linear-gradient(90deg, #c9c9c9 0%, #f4f4f4 100%);
    background: linear-gradient(0deg, #c9c9c9 0%, #f4f4f4 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    box-shadow: 0 0 5px #fff, 0 2px 0px 0 #000;
}

.description_product .buy a:active {
    background: -webkit-linear-gradient(90deg, #c9c9c9 0%, #d8d8d8 100%);
    background: -moz-linear-gradient(90deg, #c9c9c9 0%, #d8d8d8 100%);
    background: -o-linear-gradient(90deg, #c9c9c9 0%, #d8d8d8 100%);
    background: -ms-linear-gradient(90deg, #c9c9c9 0%, #d8d8d8 100%);
    background: linear-gradient(0deg, #c9c9c9 0%, #d8d8d8 100%);
    box-shadow: inset 0px 1px 3px 0px #000;
}

.description_product .social {
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid #f3f2f0;
    box-shadow: 0 -1px 0px 0px #fff;
}

.description_product .social ul {
    display: inline-block;
    margin-left: 10px;
}

.description_product .social ul li {
    display: inline-block;
}

.social span {
    width: 69px;
    display: inline-block;
    font: 400 13px / 15.002px Arial;
    color: #adadad;
}

.social ul li a {
    display: block;
    width: 24px;
    height: 24px;
}

.social ul li a.vk {
    background-image: url(../images/vk.svg);
    background-repeat: no-repeat;
}

.social ul li a.twitter {
    background-image: url(../images/twitter.svg);
    background-repeat: no-repeat;
}

.social ul li a.facebook {
    background-image: url(../images/facebook.svg);
    background-repeat: no-repeat;
}

.social ul li a.google_plus {
    background-image: url(../images/google-plus.svg);
    background-repeat: no-repeat;
}

.description_product > ul#question {
    margin-top: 0;
}

.description_product > ul#question>li>a {
    color: #da501a;
    font: 400 14px / 24.003px Arial;
}

.description_product>ul#question>li:before {
    content: "\2014";
    position: relative;
    left: 0;
    margin-right: 4px;
    color: #4f4f4f;
    font: 400 14px / 24.003px Arial;
}

.description {
    margin-top: 20px;
    padding: 20px 10px 30px 25px;
    box-shadow: 1px 2px 1px 0.00px rgba(0, 0, 0, 0.42);
    background: #fff;
}

.description_tabs p {
    color: #4f4f4f;
    font: 400 14px / 20.003px Arial;
}

.description_tabs h2 {
    color: #4f4f4f;
    font: 700 16px / 30.004px Arial;
}

.description_tabs ul li span {
    color: #4f4f4f;
    font-size: 14px;
    font-family: Arial;
}

.similar_products {
    border: 1px solid #eaeaea;
    background: #fff;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
}

.similar_products h2 {
    margin: 0;
    color: #2d2d2d;
    font: italic 18px / 24.003px Arial;
    
}

.similar_products ul li {
    display: inline-block;
    vertical-align: top;
    width: 128px;
    margin-right: 25px;
}

.similar_products ul li:last-child {
    margin-right: 0;
}

.similar_products ul li img {
    width: 120px;
    height: 120px;
    float: left;
}

.similar_products ul li span {
    float: left;
    clear: both;
    color: #ffffff;
    position: relative;
    bottom: 10px;
    font: 400 24px / 16.002px Arial;
    background: #4f4f4f;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.similar_products ul {
    margin-left: 14px;
}

.similar_products ul li a {
    color: #da501a;
    font: 400 12px / 16.002px Arial;
    float: left;
    clear: both;
}