#breadcrumbs li {
    position: relative;
    display: inline-block;
    color: #8c8c8c;
    margin-right: 20px;
    font: 400 14px / 28.003px Arial;
}

#breadcrumbs li:last-child {
    margin-right: 0;
}

#breadcrumbs li a {
    color: #e27d55;
    font: 400 14px / 28.003px Arial;
}

#breadcrumbs li:last-child:before {
    content: '';
}

#breadcrumbs li:before {
    content: '→';
    position: absolute;
    right: -20px;
    text-decoration: none;
    color: #4f4f4f;
}

.add-categort {
    display: inline-block;
    background: #4f4f4f;
    padding: 10px;
    position: relative;
}

.add-categort span {
    float: left;
    width: 72px;
    color: #f3f2f0;
    font: 400 14px / 28.003px Arial;
}

.add-categort ul.show-cat {
    margin: 0;
    width: 566px;
    display: inline-block;
    float: right;
    position: relative;
}

.add-categort ul.show-cat li {
    display: inline;
    margin-bottom: 5px;
    margin-right: 5px;
}

.add-categort ul.show-cat li:last-child {
    margin-right: 0;
}

.add-categort .show-cat a.addCat {
    color: #f3f2f0;
    font: 400 24px / 28.003px Arial;
    text-decoration: none;
    vertical-align: middle;
}

.add-categort ul.show-cat li a {
    text-decoration: none;
    display: inline-block;
    color: #4f4f4f;
    font: 400 14px / 28.003px Arial;
    padding: 0px 10px 0px 10px;
    background: -webkit-linear-gradient(bottom, #f6f6f6, #dcdcdc);
    background: -o-linear-gradient(bottom, #f6f6f6, #dcdcdc);
    background: linear-gradient(to top, #f6f6f6, #dcdcdc);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.add-categort ul#addCategory {
    z-index: 555;
    position: absolute;
    background: #4f4f4f;
    display: inline-block;
    padding: 10px 10px 10px 20px;
    width: 186px;
    top: -50px;
    right: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #424242;
}

.add-categort ul#addCategory span {
    display: block;
    width: 100%;
    color: #cccccc;
    font: 400 14px / 28.003px Arial;
}

.add-categort ul#addCategory li {
    margin: 2px 0 2px 0;
}

.add-categort ul#addCategory li a {
    color: #ffffff;
    font: 400 13px / 20.003px Arial;
    text-transform: capitalize;
    position: relative;
}

.add-categort ul#addCategory li a:hover {
    text-decoration: none;
}

.add-categort ul#addCategory li a:hover:before {
    content: "+";
    position: absolute;
    right: -20px;
    vertical-align: bottom;
}

#addCategory li a.newElement {
    text-decoration: none;
    pointer-events: none;
}

#addCategory li a.newElement {
    color: #8c8c8c !important;
    font: 400 13px / 20.003px Arial;
}

ul.sort span {
    color: #8c8c8c;
    font: 400 13px / 28.003px Arial;
}

.sort li {
    display: inline-block;
}

.sort li a {
    color: #8c8c8c;
    font: 400 13px / 28.003px Arial;
}

.sort li a span {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
    font-size: 13px;
}

.sort li a.active {
    background: #eee;
    padding: 5px;
    text-decoration: none;
    color: #8c8c8c;
    font: 400 13px / 28.003px Arial;
}

.page_nav ul li {
    display: inline-block;
}

.page_nav ul li a {
    padding: 0px 8px 0px 8px;
    display: block;
    color: #4f4f4f;
    font: 400 13px / 24.003px Arial;
}

.page_nav ul span {
    color: #4f4f4f;
    font: 400 13px / 24.003px Arial;
}

.page_nav ul li a.active {
    text-decoration: none;
    color: #e3e3e3;
    background: #f07840;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.page_nav ul #page_next_back{
    float: right;
}
.page_nav ul a.page_nav_back,
.page_nav ul a.page_nav_next {
    
    color: #4f4f4f;
    font: 400 13px / 24.003px Arial;
}
#page_next_back span{
    margin:0 5px 0 5px;
    text-decoration: none;
    display: inline-block;
}


